body {
  background-image: url("https://i.pinimg.com/736x/87/05/c2/8705c26bc510fb5f9260ca9aba0f975d.jpg");
  background-size: cover;
  background-position: center 20%;
  class "yy"
  background-position: center 20%;
}
